---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Templates from "../components/Templates.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Integrations from "../components/Integrations.astro";
import Pricing from "../components/Pricing.astro";
import CtaBanner from "../components/CtaBanner.astro";
import Footer from "../components/Footer.astro";
import { softwareApplicationJsonLd } from "../data/software-application";
---

<Layout extraJsonLd={[softwareApplicationJsonLd]}>
  <Navbar />
  <main>
    <Hero />
    <Features />
    <Templates />
    <HowItWorks />
    <Integrations />
    <Pricing />
    <CtaBanner />
  </main>
  <Footer />
</Layout>
